/*

  FLEXBOX
  Flexbox classes not provided by Tachyons

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

*/

.fg0 {
  flex-grow: 0;
}
.fg1 {
  flex-grow: 1;
}
.fg2 {
  flex-grow: 2;
}
.fg3 {
  flex-grow: 3;
}
