---
import katex from 'katex';

const { formula = '' } = Astro.props;
const html = katex.renderToString(formula, { throwOnError: false });
---

<div class="text-center">
  <span set:html={html} class="" />
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
  integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww"
  crossorigin="anonymous"
/>
