<div class="comments measure-wide center ph2 ph0-l">
  <script>var ISSUE_ID = '{{ issueId }}';</script>

  <h3>Comments</h3>

  {% if issueId %}
    <div class="br2 ba b--lightest-blue bg-washed-blue f6 mb5">
      <div class="flex items-center">
        <div class="fg1 pa3">
          <div>
            <p class="black-70 measure lh-copy mv0">
              This blog is using GitHub Issues as comments. You can post by replying to issue
              <a href="https://github.com/jiayihu/blog/issues/{{ issueId }}#new_comment_field"  class="link black f5 underline-hover" target="_blank" rel="noopener noreferrer">
                #{{ issueId }}
              </a>
            </p>
          </div>
        </div>
        <div class="w5 pa3">
          <a
            href="https://github.com/jiayihu/blog/issues/{{ issueId }}#new_comment_field"
            class="no-underline f6 tc db w-100 pv3 bg-animate bg-dark-green hover-bg-dark-blue white br2"
            target="_blank"
            rel="noopener noreferrer"
          >
            Post a comment
          </a>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="comments-content"></div>

  <!-- HTML put to avoid uncss removing the CSS classes needed by async comments -->
  <ul class="list pl0 dn">
    <li class="comment flex mt3">
      <div class="comment__author mr2 tc">
        <a href="https://github.com/jiayihu" class="dib h2--half w2--half">
          <img src="https://avatars1.githubusercontent.com/u/10067273?v=4" alt="jiayihu" class="br2 h2--half w2--half dib">
        </a>
      </div>
      <div class="fg1 br2 ba b--moon-gray f6">
        <div class="comment__header bb b--moon-gray bg-black-05 flex items-center silver ph3 pv2">
          <span>
            <a href="https://github.com/jiayihu" class="link underline-hover near-black">
              jiayihu
            </a>
            commented
            <a href="https://github.com/jiayihu/blog/issues/2#issuecomment-394303150" class="link underline-hover silver">
              2 weeks ago
            </a>
          </span>
          <span class="ba b--moon-gray br2 mla f7 fw7 ph2 pv1">Author</span>
        </div>
        <div class="comment__body pa3"></div>
    </li>
  </ul>
</div>
