<div class="center measure-wide">
  <hr />

  <div id="disqus_thread"></div>
</div>

<script>
var disqus_developer = 1;

var disqus_config = function () {
  this.page.url = 'http://blog.jiayihu.net/{{ path }}';
  this.page.identifier = '{{ path }}';
};

(function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.setAttribute('defer', 'defer');
  s.src = 'https://jiayi-chronicles.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
