<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>About me | Chronichles of Jiayi</title>
      <link rel="stylesheet" href="/css/main.css">
      <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700" rel="stylesheet">    
    </head>
  
    <body class="serif">
      {% include "layouts/partials/_nav.html" %}

      <article>
        <h1 class="f1 lh-title tc">About me</h1>
        <section class="center measure-wide f5 pv5 lh-copy ph2">
          <img src="/images/speaking.jpg" alt="Jiayi Hu - Speaking" />
          {{ contents | safe }}
        </section>
      </article>
  
      {% include "layouts/partials/_footer.html" %}
    </body>
  </html>
              