<html>
  <head>
    {% include "layouts/partials/_head.html" %}
    <title>{{ title }} | Jiayi's Chronicles</title>
  </head>

  <body class="page--article serif">
    {% include "layouts/partials/_nav.html" %}

    <article>
      <header class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url({{ cover }}) no-repeat center;">
        <div class="dtc v-mid">
          <h1 class="f1 f-headline-l fw1 i white-60">{{ title }}</h1>
          <div class="ph0 mh0 measure f4 lh-copy center">
            <p class="fw1 white-70">
              {{ subtitle }}
            </p>
            <p class="f6 ttu tracked fs-normal white-70">Jiayi Hu - {{ date }}</p>
          </div>
        </div>
      </header>
      <section class="center measure-wide f5 pv5 lh-copy ph2">
        <h1 class="f1 lh-title">{{ title }}</h1>
        <div class="article-content">{{ contents }}</div>
      </section>
    </article>

    {% include "layouts/partials/_footer.html" %}
  </body>
</html>
