<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "layouts/partials/_head.html" %}
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700"
      rel="stylesheet"
    />
    <title>Jiayi's Chronicles</title>
    <meta name="Description" content="Chronicles of a young developer" />
  </head>

  <body class="dark-grey lh-copy sans-serif">
    {% include "layouts/partials/_nav.html" %}

    <blockquote class="i measure-wide center mt5">
      <p class="dark-gray f2 lh-copy lh-title-ns tc">
        Chronicles of a young developer
      </p>
    </blockquote>

    <ul class="list pl0">
      {% for article in pagination.files %}
      <li>
        <article class="center mw7 ph3 pv5 pv5-ns">
          <header>
            <h2 class="f3 lh-title mb1 mt0">
              <a
                href="{{ '/' + article.path + '/' }}"
                class="link underline-hover"
                >{{ article.title }}</a
              >
            </h2>
            <p class="mb3 f6">{{ article.date }}</p>
          </header>
          <section class="lh-copy">{{ article.snippet }}</section>
        </article>
        <span class="b--moon-gray bt db mha w3"></span>
      </li>
      {% endfor %}
    </ul>

    <nav class="tc">
      {% if pagination.previous %}
      <a href="{{ '/' + pagination.previous.path }}">← Newer</a>
      {% endif %} {% if pagination.next %}
      <a href="{{ '/' + pagination.next.path }}">→ Older</a>
      {% endif %}
    </nav>

    {% include "layouts/partials/_footer.html" %}
  </body>
</html>
